.button-DescripcionPersonal {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;

    background: #3c8372;
    ;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3c8372 0%, grey 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3c8372 0%, grey 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3c8372 0%, grey 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c8372;', endColorstr='#9f58a3', GradientType=1);
    /* IE6-9 */
}

.p-DescripcionPersonal {
    text-align: center;
}