.p-experience {
    text-align: center;
    font-size: 25px;
}

.div-componentes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.div-descripciones {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}