.piePagina-principal {
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.icono-proyecto-react {
    border-radius: 8px;
    width: 120px;
}